.ipynb_checkpoints
*/.ipynb_checkpoints/*
course_01/week_02/.ipynb_checkpoints
course_01/week_02/.ipynb_checkpoints/*.ipynb
course_01/week_03/.ipynb_checkpoints
course_01/week_03/.ipynb_checkpoints/*.ipynb
course_01/week_04/.ipynb_checkpoints
course_01/week_04/.ipynb_checkpoints/*.ipynb
course_02/.ipynb_checkpoints
course_02/week_01/.ipynb_checkpoints
course_02/week_01/.ipynb_checkpoints/*.ipynb
course_03/.ipynb_checkpoints
course_03/week_01/.ipynb_checkpoints
course_03/week_01/.ipynb_checkpoints/*.ipynb
course_03/week_02/.ipynb_checkpoints
course_03/week_02/.ipynb_checkpoints/*.ipynb
course_03/week_03/.ipynb_checkpoints
course_03/week_03/.ipynb_checkpoints/*.ipynb
course_03/week_04/.ipynb_checkpoints
course_03/week_04/.ipynb_checkpoints/*.ipynb
course_04/.ipynb_checkpoints
course_04/quizes/.ipynb_checkpoints
course_05/.ipynb_checkpoints
course_05/week_01/.ipynb_checkpoints
course_05/week_01/.ipynb_checkpoints/*.ipynb
course_05/week_02/.ipynb_checkpoints
course_05/week_03/.ipynb_checkpoints
course_05/week_04/.ipynb_checkpoints
